

.hotels-container {
    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hotel-input-container {
    margin: 10px 0 ;
    width: 100%;
    text-align: left;
}

.hotel-input {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding: 12px 0 ;
    color: rgba(0, 0, 0, 0.87);
    border-color: rgba(0, 0, 0, 0.23);
    font-size: 1rem;
    border-radius: 6px;
    line-height: 1.1876em;
    width: 100%;
    outline: 0;
}

.hotel-form {
    position: relative;
    width: 40%;
    height: 70%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0 #095484;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display-hotels-title {
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
	font-style: italic;
    color: #1e151f;
    font-size: 60px;
}

.found-hotels-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.hotel-info {
    border-radius: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.MuiDialog-paperWidthSm {
    
}