.attraction-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    background: #919191
}

.MuiTypography-h5 {
    font-size: 1.2rem;
    max-height: '60px';
}

.MuiButton-textSizeSmall a {
    color: #3f51b5;
    text-decoration: none;
}

.MuiCardActions-root {
    justify-content: center;
}

.leaflet-container {
    width: 60vw;
    height: 50vh;
    margin: 20px;
}

